@model GameStore.Frontend.MVC.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <h1 class="text-left mb-4">Movie Details</h1>

    <div class="card shadow-sm rounded">
        <div class="card-body">
            <h4 class="card-title text-primary">Movie Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ReleaseDate)
                </dd>
                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Genre)
                </dd>
                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-4">
        <a class="btn btn-warning me-2" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </div>
</div>
