@model IEnumerable<GameStore.Frontend.MVC.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h1 class="text-left mb-4">Movies</h1>

    <div class="d-flex justify-content-between mb-3">
        <p class="lead">Explore our collection of movies.</p>
        <a class="btn btn-primary" asp-action="Create">Create New Movie</a>
    </div>

    <table class="table table-hover shadow-sm rounded text-center">
        <thead class="thead-dark">
            <tr>
                <th class="col-2">@Html.DisplayNameFor(model => model.Title)</th>
                <th class="col-2">@Html.DisplayNameFor(model => model.ReleaseDate)</th>
                <th class="col-2">@Html.DisplayNameFor(model => model.Genre)</th>
                <th class="col-2">@Html.DisplayNameFor(model => model.Price)</th>
                <th class="col-4"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">@Html.DisplayFor(modelItem => item.Title)</td>
                    <td class="align-middle">@Html.DisplayFor(modelItem => item.ReleaseDate)</td>
                    <td class="align-middle">@Html.DisplayFor(modelItem => item.Genre)</td>
                    <td class="align-middle">@Html.DisplayFor(modelItem => item.Price)</td>
                    <td class="align-middle">
                        <a class="btn btn-sm btn-warning me-1" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-sm btn-info me-1" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>